<article ng-controller="basketController" class="basket-page">
    <div class="container">
        <article class="container-header">
            <div class="sub-container clearfix">
                <section class="basket-header">
                    <h1 class="">Basket:</h1>
                    <a href="#/payment/{{phone.id}}" class="checkout-btn" title="Checkout Button">Checkout</a>
                </section>

            </div>
        </article>
        <article class="container-body clearfix">
            <section class="basket-note">
                <h2>Note:</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In risus mauris, cursus id lectus eu, tristique viverra purus. Aliquam in maximus turpis, vel laoreet nulla. </p>
            </section>
            <section class="phone">
                <h2 class="phone-title">{{phone.name}}</h2>
                <div class="phone-image">
                    <img src="../app/images/iphone_placeholder.png" alt="{{phone.brand + ' ' + phone.name}}">
                </div>
                <div class="phone-details">
                    <section class="phone-brand">
                        <h3>Brand:</h3>
                        <p>{{phone.brand}}</p>
                    </section>
                    <section class="phone-condition">
                        <h3>Condition:</h3>
                        <p>{{phone.condition}}</p>
                    </section>
                    <section class="phone-price">
                        <h3>Price:</h3>
                        <p>{{phone.price}}</p>
                    </section>
                </div>
            </section>
        </article>
        <article class="container-footer clearfix">
            <div class="sub-container clearfix">
                <a href="#/phone/{{phone.id}}" class="back-btn" title="Back button">back</a>
            </div>
        </article>
    </div>
</article>
