<article ng-controller="paymentController" class="payment-page">
    <div class="container">
        <article class="container-header">
            <div class="sub-container clearfix">
                <section>
                    <h1 >Checkout:</h1>
                    <p><strong>Ayup</strong> now you will give me all your money :P.</p>
                </section>
            </div>
        </article>
        <article class="container-body clearfix">
            <section class="end">
                <h3>Checkout Page</h3>
            </section>
        </article>
        <article class="container-footer clearfix">
            <div class="sub-container clearfix">
                <a href="#/phone/{{phone.id}}" class="back-btn" title="Back button">back</a>
            </div>
        </article>
    </div>
</article>
